body{
  background-color: rgb(98, 70, 14);
  text-align: center;
}
img {
  max-width: 100%;
  margin-top: 2rem;
}
.headline{
  color: black;
  text-transform: uppercase;
  font-size:50px;
  
  padding: 2rem;
}

h4{
  color: black;
}
.main-content{
  font-size: 40px;
  margin-top:  90px;
  color: black;
  text-transform: uppercase; 
 
}
